<!DOCTYPE html>
<html>
<head>
  <title>Mon 2er exercice</title>
  <script src="https://unpkg.com/vue@2"></script>
</head>
<body>
<!-- Balise racine de l'application : --> 
<!-- le DOM va être lié à Vue.js pour faire du rendu dynamique -->

  <div id="app">
    <div class="form-group">
        <label for="app-computed-msg">Message</label>
        <input v-model="message" type="text" class="form-control" id="app-computed-msg">
    </div>
    <div class="form-group">
        <label for="app-computed-limit">Short message limit</label>
        <input v-model="short_limit" type="text" class="form-control" id="app-computed-limit">
    </div>
    
    <div class="console_output">
        <div>Message : {{ message }}</div>
        <div>Type : {{ size }}</div>
    </div>
  </div>
<!-- Script déclarant les données et méthodes de l'application -->
  <script>
   
    let app = new Vue({
      el: '#app',
      data(){ return {
        message: 'Hello World',
        short_limit: 5
    }},
    computed: {
        size(){
            if (this.message.length < this.short_limit){
                return 'short'
                
            }else{
              this.message = this.message.substr(0, this.short_limit);
                return 'long'
                
            } 
            // ou
            // return this.message.length < this.short_limit ? 'short' : 'long'
        }
    }
    })
  </script>
</body>
</html>


